body {
  background-color: #f4f5f6;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
nav {
  background-color: #f72210;
  line-height: 0;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.ariel {
  font-family: Arial, Helvetica, sans-serif;
}

.lora {
  font-family: "Lora", serif;
}

.container {
  max-width: 1310px;
}

.brand-svg {
  fill: white;
  width: 396px;
  height: 60px;
  transform: translate(-50%, 0);
  top: 10px;
  left: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.brand-svg-mini {
  fill: white;
  width: 132px;
  height: 20px;
  margin-right: 20px;
}

.fancy-border {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 75px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.hamburger {
  color: #fb9a94;
}
.text-nw {
  color: #f72210;
}
.block-title {
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
  padding-bottom: 11px;
}

.card-title a:hover {
  text-decoration: underline #f72210;
}

.text-dark {
  color: black !important;
}

.bottom {
  bottom: 0;
}

.bg-light-gray {
  background-color: #c2d4d7;
}
